
.operation{
    padding:10px;    
}
.operation button{
    height:40px;    
}
.operation input {
    height:40px;
    width:300px;
}
.float_right{
    float:right;
}
.float_left{
    float:left;
}
.spacer{
    clear:both;
}
body{
    overflow-y: hidden;
}
div#search_loading_status{
    left:40%;
    top:40%;
    text-align:center;
    position:absolute;         
}   
#popup-content{
    width:300px;
}
.operation{
    position:fixed;
    width: 100%;
}
/*map control css*/
.map_control_div{
    left:20px;
    top:20px;
    z-index:1;
    position: absolute;
}
#zoom_slider_control {
  position: absolute;
  left: 13px;
  top: 60px;
}  
#zoom_slider_control .ol-control {
  padding: 0px !important;
  width: 18px;
  background-color: transparent;
  background-image: url('../../image/map_control/sliderbar.png') !important;
}
#zoom_slider_control .ol-zoomslider {
  top: 25px;
  height: 204px !important;
}
#zoom_slider_control .ol-control {
  padding: 0px !important;
  width: 18px;
  background-color: transparent;
  background-image: url('../../image/map_control/sliderbar.png') !important;
}
#zoom_slider_control .ol-zoomslider-thumb {
  width: 18px;
  height: 9px;
  margin: 0px;
  background-image: url('../../image/map_control/ZoomHandler.png');
}
#zoom_slider_control .ol-zoom-in {
  padding: 0px !important;
  margin: 0px !important;
  width: 18px !important;
  height: 18px !important;
  color: transparent !important;
  background-image: url('../../image/map_control/zoom-plus-mini.png');
}
#map .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
#zoom_slider_control .ol-zoom-out {
  width: 18px !important;
  height: 18px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  color: transparent !important;
  background-image: url('../../image/map_control/zoom-minus-mini.png');
}
/*map control css*/
.pointer_image_href  {
    float:right;
}
a.fancybox{
    padding:0px;
    margin: 0px;
    border:0px;
}    
#popup-content span{
    word-wrap: break-word;
}
.profile-info-value{
    display:list-item;
}