@charset "utf-8";

.form-search-box .control-label {
	float: left;
	padding-top: 5px;
}

.form-search-box .controls {
	
}

.btn {
	padding: 0px 3px;
}

.form-search-box .align-right {
	padding: 10px 20px 5px;
}

#condition-form>div>div.row-fluid>div {
	width: 20%;
	margin: 0px;
	padding: 0px;
}
#condition-form > div{
	padding-left:50px;
}
#table-record-list{
    text-align: center;
}