.message-footer {
	border-color:#CCCCCC;
	border-style:solid;
	border-width: 1px 1px 0px 1px;
}
#input_category_div label{
	color:#555555;
	margin-right:20px;
}
 th{
	background-color:#8BB8CF;
 	border-width:0 1px 0 0px !important;
 	color:white;
}
td, th{
	text-align:center;
}
.pull-left a{
	padding-left:20px;
	text-decoration:none;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #EEEEEE;
}
.ace-spinner{
	margin-right:20px;
}
.ace-spinner {
    display: inline-table;
}
.ace-spinner .spinner-input {
    color: #777777 !important;
    height: 29px !important;
    line-height: 28px !important;
    text-align: center !important;
}
.sel_per_page{
	min-width:80px;
	margin-right:20px;
}
#per_page_form{
	float:left;
}
.create_error,.create_success,.update_error,.update_success{
	display:none;
	float:left;
}
.create_error,.update_error{
	color:#FC8080;
}
.create_success,.update_success{
	color:#20B020;
}




